@model NewsHeadingsWeb.Models.HeadingModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)

    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    @if (@Model.ErrorMessage != null && @Model.ErrorMessage != string.Empty)
    {
        <div class="form-group">
            <p class="text-danger"> Ошибка: @Model.ErrorMessage </p>
        </div>
    }
    <p></p>
    <div class="form-group col-md-offset-2 col-md-10">
        <input type="submit" value="Сохранить" class="btn btn-success" />
        <a href="/News/Show" class="btn btn-success">Назад</a>
    </div>
</div>
}

<div>
</div>
