@model NewsHeadingsWeb.Models.HeadingModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Title</h1>
<p>новости, которые всегда с вами</p>
<menu>
    <li><a href="/News/Show">Главная</a></li>
    @foreach (NewsHeadingsWeb.Models.HeadingModel rec in @Model.Headings)
    {
        <li><a href=@Url.Action("Show", "News", new {pathLink = rec.PathLink})>@rec.Name</a></li>
    }
    <li><a href="/Heading/Insert">Добавить</a></li>
</menu>
@if (@Model.ID != 0)
{
    <a href=@Url.Action("Edit", "Heading", new {id = (int) @Model.ID})>Редактировать рублику</a>
    if (@Model.Articles?.Count > 0)
    {

        foreach (NewsHeadingsWeb.Models.ArticleModel rec in @Model.Articles)
        {
            <section>
                <h1><a href=@Url.Action("Edit", "Article", new {id = rec.ID})>@rec.Name</a></h1>
                <p>от @rec.DateCreate.ToString("dd.MM.yyyy HH:mm:ss")</p>
                <pre>@rec.Text</pre>
                <p>автор @rec.Autor</p>
            </section>
        }
    }
    <a href=@Url.Action("Insert", "Article", new {headingID = @Model.ID})>Добавить статью</a>
}