@model NewsHeadingsWeb.Models.HeadingModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Новости 24</title>
</head>
<body>
    <div>
        <h1>Новости 24</h1>
        <p>новости, которые всегда с вами</p>
        <menu>
            <li><a href="/News/Show">Главная</a></li>
            @foreach (NewsHeadingsWeb.Models.HeadingModel rec in ViewBag.Heading)
            {
                //<li>@Html.ActionLink(rec.Name, "Show", rec, null)</li>
                //<li>@Url.Action("Show", "News", rec)</li>

                //<li><a href="/News/Show/@rec.PathLink">@rec.Name</a></li>
                <li><a href=@Url.Action("Show", "News", rec)>@rec.Name</a></li>
            }
            <li><a href="/Heading/Insert">Добавить</a></li>
        </menu>
        @if (ViewBag.Articles != null && ViewBag.Articles.Count > 0)
        {
            <a href=@Url.Action("Edit" + "//" + ViewBag.HeadingID.ToString(), "Heading", (int)ViewBag.HeadingID)>Редактировать рублику</a>

            foreach (NewsHeadingsWeb.Models.ArticleModel rec in ViewBag.Articles)
            {
                <section>
                    <h1> @rec.Name </h1>
                    <pre>@rec.Text</pre>
                </section>
            }
            <a href=@Url.Action("Insert" + "//" + ViewBag.HeadingID.ToString(), "Article", ViewBag.HeadingID)>Добавить статью</a>
}
        <!-- TODO: добавить вёрстку новостей -->
</div>
</body>
</html>
