@model NewsHeadingsWeb.Models.HeadingModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbar1" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar1">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link active" href="/News/Show">Главная <span class="sr-only">(current)</span></a>
            </li>
            @foreach (NewsHeadingsWeb.Models.HeadingModel rec in @Model.Headings)
            {
                <li class="nav-item">
                    <a class="nav-link" href=@Url.Action("Show", "News", new {pathLink = rec.PathLink})>@rec.Name</a>
                </li>
            }
            <li class="nav-item">
                <a class="nav-link" href="/Heading/Insert">Добавить </a>
            </li>
        </ul>
    </div>
</nav>
<h1>@Model.Title</h1>
<p>новости, которые всегда с вами</p>
@if (@Model.ID != 0)
{
<h3>Рубрика @Model.Name</h3>
    <a href=@Url.Action("Edit", "Heading", new {id = @Model.ID}) class="btn btn-info">Редактировать рубрику</a>
    <a href=@Url.Action("Delete", "Heading" , new {id = @Model.ID}) class="btn btn-info">Удалить рубрику</a>
    <a href=@Url.Action("Insert", "Article", new {headingID = @Model.ID}) class="btn btn-info">Добавить статью</a>
    if (@Model.Articles?.Count > 0)
    {
        <p></p>
        foreach (var articlesList in Model.Articles.Select((item, index) => new {item, index})
                                                    .GroupBy(x => x.index / 3)
                                                    .Select(g => g.Select(x => x.item)))
        {
            <div class="row">
            @foreach (NewsHeadingsWeb.Models.ArticleModel rec in articlesList)
            {
                <div class="col-4">
                    <div class="row row-conformity">
                        <div class="col-12">
                            <h1>@rec.Name</h1><br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <a href=@Url.Action("Edit", "Article", new {id = rec.ID}) class="btn btn-info">редактировать</a>
                            <a href=@Url.Action("Delete", "Article", new {id = rec.ID}) class="btn btn-info">удалить</a>
                         </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p>от @rec.DateCreate.ToString("dd.MM.yyyy HH:mm:ss")</p>
                            @if (rec.FileName?.Length > 0)
                            {
                                <img src="@Url.Content("~/Media/" + rec.FileName)" class="img-fluid img-thumbnail" />
                            }
                            <p class="word">@rec.Text</p>
                        </div>
                    </div>
                    <div class="row">
                            <p class="text-right font-italic">автор @rec.Author</p>
                        </div>
                    </div>
                    }
            </div>
        }
    }
}
