@model NewsHeadingsWeb.Models.HeadingModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbar1" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar1">
        <a class="navbar-brand" href="/News/Show"><img src="~/Images/logo.jpg" class="logoImg" alt="Новости всегда с вами"></a>
        <ul class="navbar-nav mr-auto">
            @foreach (NewsHeadingsWeb.Models.HeadingModel rec in @Model.Headings)
            {
                <li class="nav-item">
                    <a href=@Url.Action("Show", "News", new {pathLink = rec.PathLink})
                       class="nav-link @(Model.Name == rec.Name ? "active" : string.Empty)">@rec.Name</a>
                </li>
            }
            <li class="nav-item">
                @Html.ActionLink("Добавить", "Insert", "Heading", new { }, new { @class = "nav-link linkToPage",
                    data_dialog_title = "Создание рубрики",
                    data_dialog_url = Url.Action("Insert", "Heading")})
            </li>
        </ul>
    </div>
</nav>

@if (@Model.ID != 0)
{
    <h3>Рубрика @Model.Name</h3>

        <div class="row row-conformity">
            <div class="col-12">

                @Html.ActionLink("Редактировать", "Edit", "Heading", new { id = Model.ID },
                    new {
                        @class = "btn btn-info linkToPage",
                        data_dialog_title = "Редактирование рубрики",
                        data_dialog_url = Url.Action("Edit", "Heading")
                    })

                @Html.ActionLink("Удалить рубрику", "Delete", "Heading", new { id = @Model.ID },
                    new {
                        @class = "btn btn-info linkToPage",
                        data_dialog_title = "Удаление рубрики",
                        data_dialog_url = Url.Action("Delete/" + Model.ID, "Heading")
                    })

                @Html.ActionLink("Добавить статью", "Insert", "Article", new { headingID = @Model.ID }, new{  @class = "btn btn-info" })
            </div>
        </div>
}
@if (@Model.Articles?.Count > 0)
{
    <p></p>
    foreach (var articlesList in Model.Articles.Select((item, index) => new { item, index })
        .GroupBy(x => x.index / 3)
        .Select(g => g.Select(x => x.item)))
    {
        <div class="row">

            @foreach (NewsHeadingsWeb.Models.ArticleModel rec in articlesList)
            {
                <div class="col-4">
                    <div class="row row-conformity">
                        <div class="col-12">
                            <h1>@rec.Name</h1><br />
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">

            @foreach (NewsHeadingsWeb.Models.ArticleModel rec in articlesList)
            {
                <div class="col-4">
                    <div class="row row-conformity">
                        <div class="col-12">
                            
                            @Html.ActionLink("Редактировать", "Edit", "Article", new { id = rec.ID }, new{  @class = "btn btn-info" })

                            @Html.ActionLink("Удалить", "Delete", "Article", new {id = rec.ID}, new
                            {
                                @class = "btn btn-info linkToPage",
                                data_dialog_title = "Удаление статьи",
                                data_dialog_url = Url.Action("Delete/" + rec.ID, "Article")
                            })
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            @foreach (NewsHeadingsWeb.Models.ArticleModel rec in articlesList)
            {
                <div class="col-4">
                    <p>от @rec.DateCreate.ToString("dd.MM.yyyy HH:mm:ss")</p>
                    @if (rec.FileName?.Length > 0)
                    {
                        <img src="@Url.Content("~/Media/" + rec.FileName)" class="img-fluid img-thumbnail" />
                    }
                    <p class="word">@rec.Text</p>
                    <p class="text-right font-italic">автор @rec.Author</p>
                </div>
            }
        </div>
    }

}
